.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

.main_container {
  background: url("/public/images/bg/404.jpg") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.sub_container {
  width: 50vw;
  /* height: 85vh; */
  position: absolute;
  z-index: 100;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top_Heading {
  /* font-family: 'League Spartan'; */
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 600;
  font-size: 60px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  flex-direction: row;
  display: flex;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: deeppink;
  color: white;
}

.fa-map-marker {
  background: #F44336;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sub_container {
  width: 90vw;
}

@media (max-width: 600px) {

  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  .fa {
    width: 25px;
    height: 25px;
    padding: 0px 6px;
  }